/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require recurring_select
 */

@import "framework_and_overrides";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
/*@import "vendor/metisMenu";*/

@import 'sb-admin-2';
@import "overview";
@import "users";
@import "courses";

@import "social-share-button";
@import "bootstrap3-switch";
@import 'bootstrap-datetimepicker';
@import 'bootstrap-timepicker';

/* Cancel margins due to #page-wrapper */
.cancel-wrapper-margin {
  margin: 0px -10px;
  padding-left: 30px;
  padding-right: 30px;
}


/* change arrow in metismenu */
.sidebar-nav.toggled #courses_button span:before {content:"\f107";}

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > a {
  color: inherit;
}
.event-list > a:hover {
  text-decoration: none;
}
.event-list > a > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1px rgb(51, 51, 51);
  box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 1px;
}
.event-list > a > li > time {
  display: inline-block;
  width: 100%;
  background-color:rgb(135,206,250);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > a > li:nth-child(even) > time {
  background-color: rgb(255,255,224)
}
.event-list > a > li > time > span {
  display: none;
}
.event-list > a > li > time > .day {
  display: block;
  font-size: 9pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > a > li time > .month {
  display: block;
  font-size: 7pt;
  font-weight: 700;
  line-height: 1;
}
.event-list > a > li > img {
  width: 90px;
}
.event-list > a > li > .info {
  padding-top: 5px;
  text-align: center;
}
.event-list > a > li > .info > .title {
  font-size: 8pt;
  font-weight: 580;
  margin: 0px;
}
.event-list > a > li > .info > .desc {
  font-size: 9pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > a > li > .info > ul,
.event-list > a > li > .social > ul {
  display: table;
  list-style: none;
  margin: 0px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

.event-list > a > li > .info > ul > li,
.event-list > a > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(30, 30, 30);
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > a > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(30, 30, 30);
  text-decoration: none;
}
.event-list > a > li > .info > ul > li:hover,
.event-list > a > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(200, 200, 200);
}

@media (min-width: 768px) {

  .event-list > a > li {
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
    padding: 0px;
  }
  .event-list > a > li > time,
  .event-list > a > li > img  {
    display: inline-block;

  }
  .event-list > a > li > time,
  .event-list > a > li > img {
    width: 120px;
    float: left;
  }
  .event-list > a > li > .info {
    background-color: #FFFFFF;
    overflow: hidden;
  }
  .event-list > a > li > time,
  .event-list > a > li > img {
    width: 40px;
    height: 25px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > a > li > .info {
    position: relative;
    height: 25px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > a > li > .info > .title,
  .event-list > a > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > a > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .event-list > a > li > .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
  }

  .event-list > a > li > .social > ul > li {
    height: 25px;
    padding: 0px;
  }
  .event-list > a > li > .social > ul > li > a {
    height: 25px;
    width: 40px;
    padding: 0px 0px 0px;
  }

}

