//***********************************************************

$side-menu-width: 250px;

// Bootstrap override
$grid-gutter-width: 30px;
$container-tablet:             (720px + $grid-gutter-width - $side-menu-width);
$container-desktop:            (940px + $grid-gutter-width - $side-menu-width);
$container-large-desktop:      (1140px + $grid-gutter-width - $side-menu-width);