// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.view-profile {
  .button-follow {
    width: 50%;
    margin: 15px 5px 0px 0px;
  }

  .button-appreciation {
    margin: 15px 5px 0px 0px;
  }

  .approval {
    margin-top: 10px;
  }
}


.user-profile-2 {
  text-align: center;
  position: relative;
  margin-top:10px;
}

.box-info {
  position: relative;
  width: 100%;
  padding: 15px;
  background: #fff;
  color: #5b5b5b;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px rgb(51, 51, 51);
  box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
  min-height: 200px;
  min-height: 200px;

}

.user-profile-2 .header-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 130px;
  overflow: hidden;
  z-index: 1;
  background-color: powderblue;

}

.user-profile-2 .user-profile-inner {
  z-index: 2;
  position: relative;
}

.user-profile-2 .user-profile-inner h5.white {
  color: #fff;
}

.user-profile-2 .user-profile-inner img.profile-avatar {
  box-shadow: 0 0 0 5px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 0 5px rgba(255,255,255,1);
  -webkit-box-shadow: 0 0 0 5px rgba(255,255,255,1);
  border: none;
  width:100px;
  height:100px;
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */
@media only screen and (max-width: 479px){
  .box-info  { width: 100%; }
}