<div class="col-md-4">
  <h2><%= heading %></h2>
  <p><%= content %></p>
  <% if defined? details_link %>
    <p>
      <%= link_to *details_link, class: 'btn btn-default', role: 'button' %>
    </p>
  <% end %>
</div>