<div class="jumbotron cancel-wrapper-margin">
    <div class="container">
      <h1>Welcome to CoachUP!</h1>
      <p>CoachUP! is a service designed to give people wanting to improve their skill in a sport the opportunity to find the coach they need.</p>
      <p>
        <%= link_to 'Sign up', new_user_registration_path,
                    class:'btn btn-primary btn-lg', role: 'button'%>
      </p>

    </div>
</div>
<div class="container">
  <div class="row">

  </div>
</div>
