<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="page-header"> My Partnerships </h3>
    </div>
  </div>

  <% if @partners.present? %>
    <%= render partial: 'users/user', collection: @partners %>
  <% else %>
    <h4>You have no partnerships yet...</h4>
  <% end %>
  </div>
</div>
