<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Partnerships
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Partnership </th>

            </tr>
            </thead>
            <tbody>
                <tr>

                  <td><%= link_to @user1 , user_path(@user1) %>
                  <%=  @user1conf %></td>
                  <td><%= link_to @user2, user_path(@user2) %>
                  <%=  @user2conf %></td>
                </tr>
            </tbody>

          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>




