<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        Coaches of <%= @user.username %>
      </h3>
    </div>
  </div>
  <% if @coaches.present? %>
      <%= render partial: 'users/user', collection: @coaches %>
  <% else %>
      <h4><%= @user.username %> doesn't have any coaches yet...</h4>
  <% end %>
</div>