<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header"> Courses taken by <%= @user.username %> </h3>
    </div>
  </div>
  <%= render 'courses/index', type: :subscriptions %>
</div>
