<% if @user && @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @user.errors.each do |attr, msg| %>
          <% if @user.errors[attr].first == msg %>
            <li><%= "#{attr.to_s.capitalize!} #{msg}" %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
